nemo_toolkit
google-api-python-client 
streamlit 
sounddevice 
speechrecognition 
beautifulsoup4 
requests 
PyMuPDF 
pytesseract 
langchain 
ray 
neo4j 
riva-api
pandas
PyMuPDF
beautifulsoup4
openpyxl
neo4j
streamlit